// bootstrap theme overrides
$red2: #cb444a;
$blue2: #2f68cb;

// uw brand
$purple2: #4b2e83;
$purple3: #32006e;
$beige: #b7a57a;
$beige2: #85754d;
$gold: #ffc700;

// decorative
$violet: #ac4bb9;
$turquoise: #008099;
$burnt: #bd4e05;
$olive: #787a00;
$rose: #c84674;
$lavender: #8060A4;
$russet: #a06b22;
$ultra: #5b6ecd;

// academic terms
$scarlet: #ff812c;
$icicle: #00d2ff;
$lime: #70e83f;
$amber: #ffc901;

