// IMPORTANT: The import order is intentional and might break if changed
// SEE: https://sass-lang.com/documentation/variables#default-values

@use "sass:map";
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "node_modules/bootstrap/scss/utilities";
@import 'node_modules/bootstrap/scss/root';
@import "node_modules/bootstrap/scss/utilities/api";

// override bootstrap default theme colors
/*
$danger: #a94442;
$warning: #f5d300;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white
);
*/

// override theme colors
$custom-colors: (
  'purple': #4d307f, // uw purple
  'dark-purple': #452a78, // thin bar
  'beige': #e8e3d3, // tan
  'dark-beige': #85754d, // headers
  'light-beige': #faf8f4, // beige bg
  'mid-beige': #ab9765,
  'gold': #ffbc24, //uw gold
  'teal': #4c7286, // uw teal
  'light-gray': #e8e8e8,
  'gray': #e9ecef,
) !default;

// global axdd-component styles
.axdd-font-open-sans {
  font-family: 'Open Sans', sans-serif !important;
}
.axdd-font-encode-sans {
  font-family: 'Encode Sans', sans-serif !important;
}

// bootstrap 5 map merging
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// bootstrap: add bg hover utility class
$utilities: (
  "background-color": (
      property: background-color,
      class: bg,
      state: hover focus,
      values: map-merge(
        $theme-colors,
        (
          "body": $body-bg,
          "white": $white,
          "transparent": transparent
        )
      )
  )
);
