$utilities: map-merge(
  $utilities,
  (
    // extend existing bg/text classes for hover state
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          state: hover focus,
        )
      ),
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          state: hover focus,
        ),
      ),
    // 25, 50, 75, 100
    "text-opacity":
      map-merge(
        //
        map-get($utilities, "text-opacity"),
        (
          state: hover focus,
        )
      ),
    // 10, 25, 50, 75, 100
    "bg-opacity":
      map-merge(
        //
        map-get($utilities, "bg-opacity"),
        (
          state: hover focus,
        )
      ),
    // ff-xxxx
    "font-family":
      (
        property: font-family,
        class: ff,
        values: (
          "open-sans": (
            "Open Sans",
            sans-serif,
          ),
          "encode-sans": (
            "Encode Sans",
            sans-serif,
          ),
          "roboto": (
            "Roboto",
            sans-serif,
          ),
          "roboto-slab": (
            "Roboto Slab",
            serif,
          ),
          "rozha-one": (
            "Rozha One",
            serif,
          ),
        ),
      )
  )
);
